<div class="list">
  <% @live_clients.reverse_each do |live_client| %>
    <div class="live-client">
      <%= image_tag live_client.image_url.to_s, class: 'artist-pic' %>
      <div class="info">
        <a href="<%= edit_admin_live_client_path(live_client) %>">
          <p class="artist"><%= live_client.artist %></p>
        </a>
      </div>
    </div>
  <% end %>
  <a href='<%= new_admin_live_client_path %>'>
    <div class="live-client">
      <%= image_tag('add.png', class:'add')  %>
    </div>
  </a>
</div>
