<!DOCTYPE html>
<html>
<head>
  <title>Alice Wilder | Audio Engineer</title>
  <link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css" media="screen" title="no title" charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Poppins:400,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <% if current_user %>
        <a href="<%= admin_root_path %>">
      <% else %>
        <a href="<%= root_path %>">
      <% end %>
        <div class="alice">
          <h1>Alice Wilder</h1>
        </div>
      </a>
        <div class="other_menu">
          <a href='<%= root_path %>'>Bio</a>
          <a href='<%= studio_clients_path %>'>Studio</a>
          <a href="<%= live_clients_path %>">Live</a>
        </div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="copyright">
        <a href="mailto:alice.wilder.sound@gmail.com">contact@alicewildersound.com</a>
      </div>
    </div>
  </div>
</body>
</html>
